.app{
    display: flex;
    justify-content: center;
    align-items: 'center';
    /* height: 100vh; */
}

.sidebar{
    border: 1px solid white;
    height: 100vh;
    /* margin-left: 300px; */
    margin-top: 0px;
    /* width: 100%; */
    width: 12vw;
    position: sticky;
    top:0;
}

.home{
    border: 1px solid silver;
    /* width: 100%; */
    width: 50vw;
}

.profile{
    border: 1px solid silver;
    width: 50vw;
}

.recoms{
    border: 1px solid white;
    height: 100%;
    width: 12vw;
    /* position: sticky; */
}

.signin{
    border: 1px solid silver;
    width: 68vw;
}
.userprofile{
    border: 1px solid silver;
    width: 68vw;
}

