.prof{
    display: flex;
    /* width: 100%; */
    text-align: center;
}

.desc{
    text-align: left;
}

.item{
    padding: 10px;
}

.profFeed{
    /* width: 90%; */
}

.pro{
    display : flex;
    /* width: 100%; */
    /* text-align: center; */
}

.ph{
    height: auto;
    max-height: 40vw;
    width: auto;
    max-width: 90%;
    text-align: center;
    display: block;
    border-radius: 25px;
}

.profile{
    padding: 20px;
    /* width: 84vw; */
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item{
    height: auto;
    max-height: 50vw;
    width: auto;
    max-width: 100%;
    text-align: center;
    display: block;
    border-radius: 25px;
}

.self-posts{
    display: flex;
    margin-right: 2px;
    gap: 5px;
}