.notify{
    /* display: block; */
    /* margin-top: 100px; */
    padding: 4px;
    width: 250px;
    height: 270px;
    /* background-color: red; */ 
}

.ch{
    padding: 4px;
    width: 250px;
    height: 270px;
    border: 1px solid silver;
    position: fixed;
    border-radius: 5px;
}

.recoms{
    display: inline-flexbox;
    /* position: relative; */
    padding: 5px;
}

.rm{
    position: fixed;
}

.rem{
    margin-top: 50px;
    background: none;
    border: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
    position: fixed;
}