.SidebarOption{
    display: flex;
    align-items: center;
    /* text-align: right; */
    cursor: pointer;
    /* position: fixed; */
    text-decoration: none;
    color:inherit;
}

.sidebarOption:hover{
    background-color: azure;
    border-radius: 10px;
    color: #1DA1F2;
    transition: color 100ms ease-out;
    cursor: pointer;
}

.sidebarOption{
    /* width: auto; */
    width: fit-content;
    /* width: 100%; */
    /* max-width: 300px; */
    /* padding: 1px; */
    /* width: 100%; */
    font-weight: 600;
    font-size: 19px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-right: 6px;
    /* margin-left: 10px; */
}

.row{
    display: flex;
    /* gap: 5px; */
}